In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Z:\csv\es.1.csv", nrows = 100000)

In [3]:
df.head() #first rows of the file

   Round             Date        Team 1   FT                Team 2
0      1  Sat Sep 12 2020      SD Eibar  0-0         RC Celta Vigo
1      1  Sat Sep 12 2020    Granada CF  2-0  Athletic Club Bilbao
2      1  Sat Sep 12 2020      Cádiz CF  0-2            CA Osasuna
3      1  Sun Sep 13 2020  FC Barcelona  NaN              Elche CF
4      1  Sun Sep 13 2020   Real Madrid  NaN             Getafe CF

In [4]:
df.head(10) #first 10 rows - but remember that rows in python start at 0

   Round             Date              Team 1   FT                Team 2
0      1  Sat Sep 12 2020            SD Eibar  0-0         RC Celta Vigo
1      1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2      1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
3      1  Sun Sep 13 2020        FC Barcelona  NaN              Elche CF
4      1  Sun Sep 13 2020         Real Madrid  NaN             Getafe CF
5      1  Sun Sep 13 2020    Deportivo Alavés  0-1            Real Betis
6      1  Sun Sep 13 2020  Real Valladolid CF  1-1         Real Sociedad
7      1  Sun Sep 13 2020       Villarreal CF  1-1             SD Huesca
8      1  Sun Sep 13 2020         Valencia CF  4-2            Levante UD
9      2  Sat Sep 19 2020       Villarreal CF  2-1              SD Eibar

In [5]:
df.tail() #last rows of the file

     Round             Date              Team 1   FT                Team 2
375     38  Sun May 23 2021          CA Osasuna  NaN         Real Sociedad
376     38  Sun May 23 2021         Real Madrid  NaN         Villarreal CF
377     38  Sun May 23 2021          Sevilla FC  NaN      Deportivo Alavés
378     38  Sun May 23 2021  Real Valladolid CF  NaN       Atlético Madrid
379     38  Sun May 23 2021            Elche CF  NaN  Athletic Club Bilbao

In [8]:
df.sample(frac = 1) #frac passes the percentage of df to be kept after ordering - here 100%

     Round             Date              Team 1   FT                Team 2
154     16  Wed Dec 30 2020          CA Osasuna  NaN      Deportivo Alavés
169     18  Sun Jan 10 2021       RC Celta Vigo  NaN         Villarreal CF
61       7  Sat Oct 24 2020     Atlético Madrid  2-0            Real Betis
303     31  Wed Apr 21 2021          Real Betis  NaN  Athletic Club Bilbao
208     21  Sun Jan 31 2021  Real Valladolid CF  NaN             SD Huesca
..     ...              ...                 ...  ...                   ...
309     31  Wed Apr 21 2021            Elche CF  NaN    Real Valladolid CF
22       3  Sun Sep 27 2020          CA Osasuna  1-3            Levante UD
54       6  Sun Oct 18 2020    Deportivo Alavés  0-2              Elche CF
133     14  Sun Dec 20 2020          Granada CF  NaN            Real Betis
116     12   Mon Dec 7 2020            SD Eibar  NaN           Valencia CF

[380 rows x 5 columns]

In [9]:
ordereddf = df.sample(frac = 1)

In [11]:
ordereddf.columns

Index(['Round', 'Date', 'Team 1', 'FT', 'Team 2'], dtype='object')

In [20]:
ordereddf.Date

129    Sun Dec 20 2020
354    Wed May 12 2021
214     Sun Feb 7 2021
108     Sat Dec 5 2020
7      Sun Sep 13 2020
            ...
292    Sun Apr 11 2021
269    Sun Mar 14 2021
378    Sun May 23 2021
1      Sat Sep 12 2020
104    Sun Nov 29 2020
Name: Date, Length: 380, dtype: object

In [21]:
ordereddf['Team 1'] #for columns with white spaces this is a way to show them

129          FC Barcelona
354             SD Huesca
214             SD Huesca
108            Levante UD
7           Villarreal CF
              ...
292         RC Celta Vigo
269            Sevilla FC
378    Real Valladolid CF
1              Granada CF
104         RC Celta Vigo
Name: Team 1, Length: 380, dtype: object

In [22]:
ordereddf.dtypes #shows the type of data of each column

Round      int64
Date      object
Team 1    object
FT        object
Team 2    object
dtype: object

In [23]:
ordereddf.values #shows data in array form

array([[14, 'Sun Dec 20 2020', 'FC Barcelona', nan, 'Valencia CF'],
       [36, 'Wed May 12 2021', 'SD Huesca', nan, 'Athletic Club Bilbao'],
       [22, 'Sun Feb 7 2021', 'SD Huesca', nan, 'Real Madrid'],
       ...,
       [38, 'Sun May 23 2021', 'Real Valladolid CF', nan,
        'Atlético Madrid'],
       [1, 'Sat Sep 12 2020', 'Granada CF', '2-0',
        'Athletic Club Bilbao'],
       [11, 'Sun Nov 29 2020', 'RC Celta Vigo', nan, 'Granada CF']],
      dtype=object)

In [24]:
df2 = ordereddf.head(10)

In [25]:
df2.head(20) #only shows 10 elements because that's what we saved in the previous step

     Round             Date           Team 1   FT                Team 2
129     14  Sun Dec 20 2020     FC Barcelona  NaN           Valencia CF
354     36  Wed May 12 2021        SD Huesca  NaN  Athletic Club Bilbao
214     22   Sun Feb 7 2021        SD Huesca  NaN           Real Madrid
108     12   Sat Dec 5 2020       Levante UD  NaN             Getafe CF
7        1  Sun Sep 13 2020    Villarreal CF  1-1             SD Huesca
106     11  Mon Nov 30 2020       Real Betis  NaN              SD Eibar
178      1  Tue Jan 12 2021  Atlético Madrid  NaN            Sevilla FC
70       8  Sat Oct 31 2020       CA Osasuna  1-3       Atlético Madrid
122     13  Sun Dec 13 2020      Real Madrid  NaN       Atlético Madrid
279     28  Sun Mar 21 2021    Villarreal CF  NaN              Cádiz CF

In [29]:
df[10:20] #shows the indicated interval of rows

    Round             Date            Team 1   FT              Team 2
10      2  Sat Sep 19 2020         Getafe CF  1-0          CA Osasuna
11      2  Sat Sep 19 2020     RC Celta Vigo  2-1         Valencia CF
12      2  Sun Sep 20 2020        Levante UD  NaN     Atlético Madrid
13      2  Sun Sep 20 2020        Sevilla FC  NaN            Elche CF
14      2  Sun Sep 20 2020         SD Huesca  0-2            Cádiz CF
15      2  Sun Sep 20 2020        Real Betis  2-0  Real Valladolid CF
16      2  Sun Sep 20 2020        Granada CF  2-1    Deportivo Alavés
17      2  Sun Sep 20 2020     Real Sociedad  0-0         Real Madrid
18      3  Sat Sep 26 2020  Deportivo Alavés  0-0           Getafe CF
19      3  Sat Sep 26 2020       Valencia CF  1-1           SD Huesca

In [31]:
df[df['Round'] == 5] #shows the columns satisfying the filter condition

    Round            Date              Team 1   FT                Team 2
37      5  Sat Oct 3 2020  Real Valladolid CF  1-2              SD Eibar
38      5  Sat Oct 3 2020     Atlético Madrid  0-0         Villarreal CF
39      5  Sat Oct 3 2020       Real Sociedad  3-0             Getafe CF
40      5  Sat Oct 3 2020            Elche CF  0-0             SD Huesca
41      5  Sat Oct 3 2020         Valencia CF  0-2            Real Betis
42      5  Sun Oct 4 2020          CA Osasuna  2-0         RC Celta Vigo
43      5  Sun Oct 4 2020    Deportivo Alavés  1-0  Athletic Club Bilbao
44      5  Sun Oct 4 2020          Levante UD  0-2           Real Madrid
45      5  Sun Oct 4 2020            Cádiz CF  1-1            Granada CF
46      5  Sun Oct 4 2020        FC Barcelona  1-1            Sevilla FC

In [33]:
df[df['Team 2'] == 'Atlético Madrid'].head()

    Round             Date         Team 1   FT           Team 2
12      2  Sun Sep 20 2020     Levante UD  NaN  Atlético Madrid
30      4  Wed Sep 30 2020      SD Huesca  0-0  Atlético Madrid
48      6  Sat Oct 17 2020  RC Celta Vigo  0-2  Atlético Madrid
70      8  Sat Oct 31 2020     CA Osasuna  1-3  Atlético Madrid
99     11  Sat Nov 28 2020    Valencia CF  NaN  Atlético Madrid

In [35]:
df[(df['Team 1'] == 'Atlético Madrid') & (df['FT'] == '2-0')] #several conditions

    Round             Date           Team 1   FT      Team 2
61      7  Sat Oct 24 2020  Atlético Madrid  2-0  Real Betis

In [37]:
df[((df['Team 1'] == 'Atlético Madrid') | (df['Team 2'] == 'Atlético Madrid')) & (df['Round'] > 30)]

     Round             Date                Team 1   FT           Team 2
301     31  Wed Apr 21 2021       Atlético Madrid  NaN        SD Huesca
310     32  Sun Apr 25 2021  Athletic Club Bilbao  NaN  Atlético Madrid
322     33  Wed Apr 28 2021       Atlético Madrid  NaN         SD Eibar
339     34   Sun May 2 2021              Elche CF  NaN  Atlético Madrid
342     35   Sun May 9 2021          FC Barcelona  NaN  Atlético Madrid
350     36  Wed May 12 2021       Atlético Madrid  NaN    Real Sociedad
362     37  Sun May 16 2021       Atlético Madrid  NaN       CA Osasuna
378     38  Sun May 23 2021    Real Valladolid CF  NaN  Atlético Madrid

In [38]:
df[pd.isna(df['FT'])].head() #shows first rows where column FT has NaN

    Round             Date        Team 1   FT           Team 2
3       1  Sun Sep 13 2020  FC Barcelona  NaN         Elche CF
4       1  Sun Sep 13 2020   Real Madrid  NaN        Getafe CF
12      2  Sun Sep 20 2020    Levante UD  NaN  Atlético Madrid
13      2  Sun Sep 20 2020    Sevilla FC  NaN         Elche CF
87     10  Fri Nov 20 2020    CA Osasuna  NaN        SD Huesca

In [43]:
len(df[pd.isna(df['FT'])]) #counts how many NaN in the column

297

In [45]:
df = pd.read_csv("Z:\csv\es.1.copy.csv")

In [46]:
df['RefMistakes'] = round(df['Round'] / 12) #creates a new column - with useless values

In [48]:
df['RefMistakes'].tail()

375    3.0
376    3.0
377    3.0
378    3.0
379    3.0
Name: RefMistakes, dtype: float64

In [49]:
del(df['RefMistakes']) #deletes the column

In [50]:
df['RefMistakes'] = round(df['Round'] * 1.2)

In [51]:
df.tail()

,Round,Date,Team 1,FT,Team 2,RefMistakes
375,38,Sun May 23 2021,CA Osasuna,NaN,Real Sociedad,46.0
376,38,Sun May 23 2021,Real Madrid,NaN,Villarreal CF,46.0
377,38,Sun May 23 2021,Sevilla FC,NaN,Deportivo Alavés,46.0
378,38,Sun May 23 2021,Real Valladolid CF,NaN,Atlético Madrid,46.0
379,38,Sun May 23 2021,Elche CF,NaN,Athletic Club Bilbao,46.0

In [52]:
df['Ref'] = 'Mateu'

In [53]:
df.head()

,Round,Date,Team 1,FT,Team 2,RefMistakes,Ref
0,1,Sat Sep 12 2020,SD Eibar,0-0,RC Celta Vigo,1.0,Mateu
1,1,Sat Sep 12 2020,Granada CF,2-0,Athletic Club Bilbao,1.0,Mateu
2,1,Sat Sep 12 2020,Cádiz CF,0-2,CA Osasuna,1.0,Mateu
3,1,Sun Sep 13 2020,FC Barcelona,NaN,Elche CF,1.0,Mateu
4,1,Sun Sep 13 2020,Real Madrid,NaN,Getafe CF,1.0,Mateu

In [54]:
df.drop(['RefMistakes','Ref'],axis=1) #'shows the action' of deleting several columns at once

     Round             Date              Team 1   FT                Team 2
0        1  Sat Sep 12 2020            SD Eibar  0-0         RC Celta Vigo
1        1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2        1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
3        1  Sun Sep 13 2020        FC Barcelona  NaN              Elche CF
4        1  Sun Sep 13 2020         Real Madrid  NaN             Getafe CF
..     ...              ...                 ...  ...                   ...
375     38  Sun May 23 2021          CA Osasuna  NaN         Real Sociedad
376     38  Sun May 23 2021         Real Madrid  NaN         Villarreal CF
377     38  Sun May 23 2021          Sevilla FC  NaN      Deportivo Alavés
378     38  Sun May 23 2021  Real Valladolid CF  NaN       Atlético Madrid
379     38  Sun May 23 2021            Elche CF  NaN  Athletic Club Bilbao

[380 rows x 5 columns]

In [55]:
df.head() #we see now that the changes were not saved in the variable

,Round,Date,Team 1,FT,Team 2,RefMistakes,Ref
0,1,Sat Sep 12 2020,SD Eibar,0-0,RC Celta Vigo,1.0,Mateu
1,1,Sat Sep 12 2020,Granada CF,2-0,Athletic Club Bilbao,1.0,Mateu
2,1,Sat Sep 12 2020,Cádiz CF,0-2,CA Osasuna,1.0,Mateu
3,1,Sun Sep 13 2020,FC Barcelona,NaN,Elche CF,1.0,Mateu
4,1,Sun Sep 13 2020,Real Madrid,NaN,Getafe CF,1.0,Mateu

In [56]:
df = df.drop(['RefMistakes','Ref'],axis=1) #now the new df won't have the colums

In [57]:
df.head()

   Round             Date        Team 1   FT                Team 2
0      1  Sat Sep 12 2020      SD Eibar  0-0         RC Celta Vigo
1      1  Sat Sep 12 2020    Granada CF  2-0  Athletic Club Bilbao
2      1  Sat Sep 12 2020      Cádiz CF  0-2            CA Osasuna
3      1  Sun Sep 13 2020  FC Barcelona  NaN              Elche CF
4      1  Sun Sep 13 2020   Real Madrid  NaN             Getafe CF

In [58]:
#df.drop(['RefMistakes','Ref'],axis=1,inplace=True) this has the same result as the above

In [59]:
df.drop(0) #shows the df without the first row - no saving

     Round             Date              Team 1   FT                Team 2
1        1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2        1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
3        1  Sun Sep 13 2020        FC Barcelona  NaN              Elche CF
4        1  Sun Sep 13 2020         Real Madrid  NaN             Getafe CF
5        1  Sun Sep 13 2020    Deportivo Alavés  0-1            Real Betis
..     ...              ...                 ...  ...                   ...
375     38  Sun May 23 2021          CA Osasuna  NaN         Real Sociedad
376     38  Sun May 23 2021         Real Madrid  NaN         Villarreal CF
377     38  Sun May 23 2021          Sevilla FC  NaN      Deportivo Alavés
378     38  Sun May 23 2021  Real Valladolid CF  NaN       Atlético Madrid
379     38  Sun May 23 2021            Elche CF  NaN  Athletic Club Bilbao

[379 rows x 5 columns]

In [61]:
dfATMH = df[df['Team 1'] == 'Atlético Madrid']
dfATMA = df[df['Team 2'] == 'Atlético Madrid']

In [62]:
dfATM = dfATMH.append(dfATMA) #append df's with the same structure

In [63]:
dfATM

     Round             Date                Team 1   FT                Team 2
24       3  Sun Sep 27 2020       Atlético Madrid  6-1            Granada CF
38       5   Sat Oct 3 2020       Atlético Madrid  0-0         Villarreal CF
61       7  Sat Oct 24 2020       Atlético Madrid  2-0            Real Betis
81       9   Sat Nov 7 2020       Atlético Madrid  4-0              Cádiz CF
91      10  Sat Nov 21 2020       Atlético Madrid  NaN          FC Barcelona
110     12   Sat Dec 5 2020       Atlético Madrid  NaN    Real Valladolid CF
128     14  Sun Dec 20 2020       Atlético Madrid  NaN              Elche CF
148     16  Wed Dec 30 2020       Atlético Madrid  NaN             Getafe CF
168     18  Sun Jan 10 2021       Atlético Madrid  NaN  Athletic Club Bilbao
178      1  Tue Jan 12 2021       Atlético Madrid  NaN            Sevilla FC
192     20  Sun Jan 24 2021       Atlético Madrid  NaN           Valencia CF
212     22   Sun Feb 7 2021       Atlético Madrid  NaN         RC Celta Vigo
231     24  Sun Feb 21 2021       Atlético Madrid  NaN            Levante UD
251     26   Sun Mar 7 2021       Atlético Madrid  NaN           Real Madrid
271     28  Sun Mar 21 2021       Atlético Madrid  NaN      Deportivo Alavés
301     31  Wed Apr 21 2021       Atlético Madrid  NaN             SD Huesca
322     33  Wed Apr 28 2021       Atlético Madrid  NaN              SD Eibar
350     36  Wed May 12 2021       Atlético Madrid  NaN         Real Sociedad
362     37  Sun May 16 2021       Atlético Madrid  NaN            CA Osasuna
12       2  Sun Sep 20 2020            Levante UD  NaN       Atlético Madrid
30       4  Wed Sep 30 2020             SD Huesca  0-0       Atlético Madrid
48       6  Sat Oct 17 2020         RC Celta Vigo  0-2       Atlético Madrid
70       8  Sat Oct 31 2020            CA Osasuna  1-3       Atlético Madrid
99      11  Sat Nov 28 2020           Valencia CF  NaN       Atlético Madrid
122     13  Sun Dec 13 2020           Real Madrid  NaN       Atlético Madrid
142     15  Wed Dec 23 2020         Real Sociedad  NaN       Atlético Madrid
157     17   Sun Jan 3 2021      Deportivo Alavés  NaN       Atlético Madrid
182     19  Wed Jan 20 2021              SD Eibar  NaN       Atlético Madrid
204     21  Sun Jan 31 2021              Cádiz CF  NaN       Atlético Madrid
225     23  Sun Feb 14 2021            Granada CF  NaN       Atlético Madrid
249     25  Sun Feb 28 2021         Villarreal CF  NaN       Atlético Madrid
264     27  Sun Mar 14 2021             Getafe CF  NaN       Atlético Madrid
288     29   Sun Apr 4 2021            Sevilla FC  NaN       Atlético Madrid
291     30  Sun Apr 11 2021            Real Betis  NaN       Atlético Madrid
310     32  Sun Apr 25 2021  Athletic Club Bilbao  NaN       Atlético Madrid
339     34   Sun May 2 2021              Elche CF  NaN       Atlético Madrid
342     35   Sun May 9 2021          FC Barcelona  NaN       Atlético Madrid
378     38  Sun May 23 2021    Real Valladolid CF  NaN       Atlético Madrid

In [64]:
df = pd.read_csv("Z:\csv\es.2.csv")

In [66]:
df.groupby(by = 'Team 1')['Round'].max() #groups by column in the 1st argument and applies function max to 2nd argument column - this query groups by home team the maximum round

Team 1
AD Alcorcón          42
Albacete Balompié    42
CD Castellón         41
CD Leganés           41
CD Lugo              41
CD Mirandés          42
CD Tenerife          42
CE Sabadell          41
CF Fuenlabrada       41
FC Cartagena         42
Girona FC            41
Málaga CF            42
RCD Espanyol         41
RCD Mallorca         41
Rayo Vallecano       42
Real Oviedo          41
Real Zaragoza        42
SD Ponferradina      42
Sporting Gijón       42
UD Almería           41
UD Las Palmas        41
UD Logroñés          42
Name: Round, dtype: int64

In [67]:
df.groupby(by = 'Team 1')['Round'].mean()

Team 1
AD Alcorcón          21.571429
Albacete Balompié    21.619048
CD Castellón         21.523810
CD Leganés           20.571429
CD Lugo              21.571429
CD Mirandés          21.142857
CD Tenerife          21.333333
CE Sabadell          21.238095
CF Fuenlabrada       21.428571
FC Cartagena         21.666667
Girona FC            21.761905
Málaga CF            22.380952
RCD Espanyol         21.238095
RCD Mallorca         20.714286
Rayo Vallecano       22.428571
Real Oviedo          21.000000
Real Zaragoza        21.190476
SD Ponferradina      21.571429
Sporting Gijón       21.476190
UD Almería           21.571429
UD Las Palmas        21.666667
UD Logroñés          22.333333
Name: Round, dtype: float64

In [68]:
df.groupby(by = 'Team 1')['Round'].min()

Team 1
AD Alcorcón          2
Albacete Balompié    2
CD Castellón         2
CD Leganés           1
CD Lugo              2
CD Mirandés          1
CD Tenerife          1
CE Sabadell          1
CF Fuenlabrada       1
FC Cartagena         2
Girona FC            2
Málaga CF            3
RCD Espanyol         1
RCD Mallorca         1
Rayo Vallecano       2
Real Oviedo          1
Real Zaragoza        1
SD Ponferradina      1
Sporting Gijón       1
UD Almería           2
UD Las Palmas        2
UD Logroñés          3
Name: Round, dtype: int64

In [69]:
df.groupby(by = 'Team 1')['Round'].count()

Team 1
AD Alcorcón          21
Albacete Balompié    21
CD Castellón         21
CD Leganés           21
CD Lugo              21
CD Mirandés          21
CD Tenerife          21
CE Sabadell          21
CF Fuenlabrada       21
FC Cartagena         21
Girona FC            21
Málaga CF            21
RCD Espanyol         21
RCD Mallorca         21
Rayo Vallecano       21
Real Oviedo          21
Real Zaragoza        21
SD Ponferradina      21
Sporting Gijón       21
UD Almería           21
UD Las Palmas        21
UD Logroñés          21
Name: Round, dtype: int64

In [70]:
df.groupby(by = 'Team 1')['Round'].describe() #shows a statistic summary grouped by the column in the first argument

                   count       mean        std  min   25%   50%   75%   max
Team 1
AD Alcorcón         21.0  21.571429  12.564121  2.0  11.0  21.0  32.0  42.0
Albacete Balompié   21.0  21.619048  12.411592  2.0  11.0  22.0  32.0  42.0
CD Castellón        21.0  21.523810  12.027548  2.0  12.0  22.0  31.0  41.0
CD Leganés          21.0  20.571429  12.492283  1.0  10.0  21.0  30.0  41.0
CD Lugo             21.0  21.571429  12.249781  2.0  12.0  22.0  31.0  41.0
CD Mirandés         21.0  21.142857  12.970296  1.0  11.0  21.0  32.0  42.0
CD Tenerife         21.0  21.333333  12.658331  1.0  11.0  21.0  31.0  42.0
CE Sabadell         21.0  21.238095  12.521600  1.0  11.0  21.0  32.0  41.0
CF Fuenlabrada      21.0  21.428571  12.274247  1.0  12.0  22.0  31.0  41.0
FC Cartagena        21.0  21.666667  12.240643  2.0  11.0  22.0  31.0  42.0
Girona FC           21.0  21.761905  11.915976  2.0  12.0  22.0  31.0  41.0
Málaga CF           21.0  22.380952  12.076739  3.0  13.0  22.0  32.0  42.0
RCD Espanyol        21.0  21.238095  12.707890  1.0  11.0  21.0  32.0  41.0
RCD Mallorca        21.0  20.714286  12.280647  1.0  11.0  21.0  30.0  41.0
Rayo Vallecano      21.0  22.428571  12.274247  2.0  13.0  22.0  32.0  42.0
Real Oviedo         21.0  21.000000  12.613485  1.0  11.0  20.0  31.0  41.0
Real Zaragoza       21.0  21.190476  13.056106  1.0  10.0  21.0  32.0  42.0
SD Ponferradina     21.0  21.571429  12.769383  1.0  12.0  21.0  32.0  42.0
Sporting Gijón      21.0  21.476190  12.355643  1.0  12.0  21.0  31.0  42.0
UD Almería          21.0  21.571429  11.906181  2.0  12.0  22.0  31.0  41.0
UD Las Palmas       21.0  21.666667  12.175111  2.0  12.0  22.0  32.0  41.0
UD Logroñés         21.0  22.333333  12.427121  3.0  12.0  22.0  33.0  42.0

In [72]:
df['RefMistakes'] = round(df['Round'] * 1.2)

In [73]:
df.groupby(by = 'Team 1')['Round','RefMistakes'].mean() #can be done for several columns - meaningless query due to db structure

<ipython-input-73-37c1a02def07>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by = 'Team 1')['Round','RefMistakes'].mean() #can be done for several columns - meaningless query due to db structure

                       Round  RefMistakes
Team 1
AD Alcorcón        21.571429    25.904762
Albacete Balompié  21.619048    25.904762
CD Castellón       21.523810    25.809524
CD Leganés         20.571429    24.714286
CD Lugo            21.571429    25.857143
CD Mirandés        21.142857    25.333333
CD Tenerife        21.333333    25.619048
CE Sabadell        21.238095    25.428571
CF Fuenlabrada     21.428571    25.666667
FC Cartagena       21.666667    26.000000
Girona FC          21.761905    26.095238
Málaga CF          22.380952    26.857143
RCD Espanyol       21.238095    25.428571
RCD Mallorca       20.714286    24.857143
Rayo Vallecano     22.428571    26.857143
Real Oviedo        21.000000    25.238095
Real Zaragoza      21.190476    25.428571
SD Ponferradina    21.571429    25.857143
Sporting Gijón     21.476190    25.809524
UD Almería         21.571429    25.857143
UD Las Palmas      21.666667    25.952381
UD Logroñés        22.333333    26.809524

In [74]:
df.groupby(by = 'Team 1')['Round'].max()-df.groupby(by = 'Team 1')['Round'].min()

Team 1
AD Alcorcón          40
Albacete Balompié    40
CD Castellón         39
CD Leganés           40
CD Lugo              39
CD Mirandés          41
CD Tenerife          41
CE Sabadell          40
CF Fuenlabrada       40
FC Cartagena         40
Girona FC            39
Málaga CF            39
RCD Espanyol         40
RCD Mallorca         40
Rayo Vallecano       40
Real Oviedo          40
Real Zaragoza        41
SD Ponferradina      41
Sporting Gijón       41
UD Almería           39
UD Las Palmas        39
UD Logroñés          39
Name: Round, dtype: int64

In [75]:
dfMALLUG = df[df['Team 1'].isin(['RCD Mallorca','CD Lugo'])] #new df with home team Mall and LUGO

In [80]:
dfMALLUG.groupby(by = ['Team 2','Team 1'])['Round'].describe()

                                count  mean  std   min   25%   50%   75%   max
Team 2            Team 1
AD Alcorcón       CD Lugo         1.0  35.0  NaN  35.0  35.0  35.0  35.0  35.0
                  RCD Mallorca    1.0  39.0  NaN  39.0  39.0  39.0  39.0  39.0
Albacete Balompié CD Lugo         1.0  12.0  NaN  12.0  12.0  12.0  12.0  12.0
                  RCD Mallorca    1.0   7.0  NaN   7.0   7.0   7.0   7.0   7.0
CD Castellón      CD Lugo         1.0  30.0  NaN  30.0  30.0  30.0  30.0  30.0
                  RCD Mallorca    1.0  17.0  NaN  17.0  17.0  17.0  17.0  17.0
CD Leganés        CD Lugo         1.0   2.0  NaN   2.0   2.0   2.0   2.0   2.0
                  RCD Mallorca    1.0  32.0  NaN  32.0  32.0  32.0  32.0  32.0
CD Lugo           RCD Mallorca    1.0  34.0  NaN  34.0  34.0  34.0  34.0  34.0
CD Mirandés       CD Lugo         1.0  39.0  NaN  39.0  39.0  39.0  39.0  39.0
                  RCD Mallorca    1.0  37.0  NaN  37.0  37.0  37.0  37.0  37.0
CD Tenerife       CD Lugo         1.0  22.0  NaN  22.0  22.0  22.0  22.0  22.0
                  RCD Mallorca    1.0   4.0  NaN   4.0   4.0   4.0   4.0   4.0
CE Sabadell       CD Lugo         1.0  31.0  NaN  31.0  31.0  31.0  31.0  31.0
                  RCD Mallorca    1.0   3.0  NaN   3.0   3.0   3.0   3.0   3.0
CF Fuenlabrada    CD Lugo         1.0  28.0  NaN  28.0  28.0  28.0  28.0  28.0
                  RCD Mallorca    1.0  19.0  NaN  19.0  19.0  19.0  19.0  19.0
FC Cartagena      CD Lugo         1.0  41.0  NaN  41.0  41.0  41.0  41.0  41.0
                  RCD Mallorca    1.0  28.0  NaN  28.0  28.0  28.0  28.0  28.0
Girona FC         CD Lugo         1.0   7.0  NaN   7.0   7.0   7.0   7.0   7.0
                  RCD Mallorca    1.0  23.0  NaN  23.0  23.0  23.0  23.0  23.0
Málaga CF         CD Lugo         1.0  33.0  NaN  33.0  33.0  33.0  33.0  33.0
                  RCD Mallorca    1.0   9.0  NaN   9.0   9.0   9.0   9.0   9.0
RCD Espanyol      CD Lugo         1.0  24.0  NaN  24.0  24.0  24.0  24.0  24.0
                  RCD Mallorca    1.0  25.0  NaN  25.0  25.0  25.0  25.0  25.0
RCD Mallorca      CD Lugo         1.0   5.0  NaN   5.0   5.0   5.0   5.0   5.0
Rayo Vallecano    CD Lugo         1.0  10.0  NaN  10.0  10.0  10.0  10.0  10.0
                  RCD Mallorca    1.0   1.0  NaN   1.0   1.0   1.0   1.0   1.0
Real Oviedo       CD Lugo         1.0  14.0  NaN  14.0  14.0  14.0  14.0  14.0
                  RCD Mallorca    1.0  30.0  NaN  30.0  30.0  30.0  30.0  30.0
Real Zaragoza     CD Lugo         1.0  37.0  NaN  37.0  37.0  37.0  37.0  37.0
                  RCD Mallorca    1.0  41.0  NaN  41.0  41.0  41.0  41.0  41.0
SD Ponferradina   CD Lugo         1.0  18.0  NaN  18.0  18.0  18.0  18.0  18.0
                  RCD Mallorca    1.0  11.0  NaN  11.0  11.0  11.0  11.0  11.0
Sporting Gijón    CD Lugo         1.0  20.0  NaN  20.0  20.0  20.0  20.0  20.0
                  RCD Mallorca    1.0  13.0  NaN  13.0  13.0  13.0  13.0  13.0
UD Almería        CD Lugo         1.0   3.0  NaN   3.0   3.0   3.0   3.0   3.0
                  RCD Mallorca    1.0  26.0  NaN  26.0  26.0  26.0  26.0  26.0
UD Las Palmas     CD Lugo         1.0  16.0  NaN  16.0  16.0  16.0  16.0  16.0
                  RCD Mallorca    1.0  21.0  NaN  21.0  21.0  21.0  21.0  21.0
UD Logroñés       CD Lugo         1.0  26.0  NaN  26.0  26.0  26.0  26.0  26.0
                  RCD Mallorca    1.0  15.0  NaN  15.0  15.0  15.0  15.0  15.0

In [81]:
dfMALLUG.groupby(by = ['Team 1','Team 2'])['Round'].describe() #order matters in terms of data visualization

                                count  mean  std   min   25%   50%   75%   max
Team 1       Team 2
CD Lugo      AD Alcorcón          1.0  35.0  NaN  35.0  35.0  35.0  35.0  35.0
             Albacete Balompié    1.0  12.0  NaN  12.0  12.0  12.0  12.0  12.0
             CD Castellón         1.0  30.0  NaN  30.0  30.0  30.0  30.0  30.0
             CD Leganés           1.0   2.0  NaN   2.0   2.0   2.0   2.0   2.0
             CD Mirandés          1.0  39.0  NaN  39.0  39.0  39.0  39.0  39.0
             CD Tenerife          1.0  22.0  NaN  22.0  22.0  22.0  22.0  22.0
             CE Sabadell          1.0  31.0  NaN  31.0  31.0  31.0  31.0  31.0
             CF Fuenlabrada       1.0  28.0  NaN  28.0  28.0  28.0  28.0  28.0
             FC Cartagena         1.0  41.0  NaN  41.0  41.0  41.0  41.0  41.0
             Girona FC            1.0   7.0  NaN   7.0   7.0   7.0   7.0   7.0
             Málaga CF            1.0  33.0  NaN  33.0  33.0  33.0  33.0  33.0
             RCD Espanyol         1.0  24.0  NaN  24.0  24.0  24.0  24.0  24.0
             RCD Mallorca         1.0   5.0  NaN   5.0   5.0   5.0   5.0   5.0
             Rayo Vallecano       1.0  10.0  NaN  10.0  10.0  10.0  10.0  10.0
             Real Oviedo          1.0  14.0  NaN  14.0  14.0  14.0  14.0  14.0
             Real Zaragoza        1.0  37.0  NaN  37.0  37.0  37.0  37.0  37.0
             SD Ponferradina      1.0  18.0  NaN  18.0  18.0  18.0  18.0  18.0
             Sporting Gijón       1.0  20.0  NaN  20.0  20.0  20.0  20.0  20.0
             UD Almería           1.0   3.0  NaN   3.0   3.0   3.0   3.0   3.0
             UD Las Palmas        1.0  16.0  NaN  16.0  16.0  16.0  16.0  16.0
             UD Logroñés          1.0  26.0  NaN  26.0  26.0  26.0  26.0  26.0
RCD Mallorca AD Alcorcón          1.0  39.0  NaN  39.0  39.0  39.0  39.0  39.0
             Albacete Balompié    1.0   7.0  NaN   7.0   7.0   7.0   7.0   7.0
             CD Castellón         1.0  17.0  NaN  17.0  17.0  17.0  17.0  17.0
             CD Leganés           1.0  32.0  NaN  32.0  32.0  32.0  32.0  32.0
             CD Lugo              1.0  34.0  NaN  34.0  34.0  34.0  34.0  34.0
             CD Mirandés          1.0  37.0  NaN  37.0  37.0  37.0  37.0  37.0
             CD Tenerife          1.0   4.0  NaN   4.0   4.0   4.0   4.0   4.0
             CE Sabadell          1.0   3.0  NaN   3.0   3.0   3.0   3.0   3.0
             CF Fuenlabrada       1.0  19.0  NaN  19.0  19.0  19.0  19.0  19.0
             FC Cartagena         1.0  28.0  NaN  28.0  28.0  28.0  28.0  28.0
             Girona FC            1.0  23.0  NaN  23.0  23.0  23.0  23.0  23.0
             Málaga CF            1.0   9.0  NaN   9.0   9.0   9.0   9.0   9.0
             RCD Espanyol         1.0  25.0  NaN  25.0  25.0  25.0  25.0  25.0
             Rayo Vallecano       1.0   1.0  NaN   1.0   1.0   1.0   1.0   1.0
             Real Oviedo          1.0  30.0  NaN  30.0  30.0  30.0  30.0  30.0
             Real Zaragoza        1.0  41.0  NaN  41.0  41.0  41.0  41.0  41.0
             SD Ponferradina      1.0  11.0  NaN  11.0  11.0  11.0  11.0  11.0
             Sporting Gijón       1.0  13.0  NaN  13.0  13.0  13.0  13.0  13.0
             UD Almería           1.0  26.0  NaN  26.0  26.0  26.0  26.0  26.0
             UD Las Palmas        1.0  21.0  NaN  21.0  21.0  21.0  21.0  21.0
             UD Logroñés          1.0  15.0  NaN  15.0  15.0  15.0  15.0  15.0

In [82]:
mygroupby = dfMALLUG.groupby(by = ['Team 1','Team 2'])['Round'] #store a group-by object
mygroupby.max() #and use it easily

Team 1        Team 2
CD Lugo       AD Alcorcón          35
              Albacete Balompié    12
              CD Castellón         30
              CD Leganés            2
              CD Mirandés          39
              CD Tenerife          22
              CE Sabadell          31
              CF Fuenlabrada       28
              FC Cartagena         41
              Girona FC             7
              Málaga CF            33
              RCD Espanyol         24
              RCD Mallorca          5
              Rayo Vallecano       10
              Real Oviedo          14
              Real Zaragoza        37
              SD Ponferradina      18
              Sporting Gijón       20
              UD Almería            3
              UD Las Palmas        16
              UD Logroñés          26
RCD Mallorca  AD Alcorcón          39
              Albacete Balompié     7
              CD Castellón         17
              CD Leganés           32
              CD Lugo              34
              CD Mirandés          37
              CD Tenerife           4
              CE Sabadell           3
              CF Fuenlabrada       19
              FC Cartagena         28
              Girona FC            23
              Málaga CF             9
              RCD Espanyol         25
              Rayo Vallecano        1
              Real Oviedo          30
              Real Zaragoza        41
              SD Ponferradina      11
              Sporting Gijón       13
              UD Almería           26
              UD Las Palmas        21
              UD Logroñés          15
Name: Round, dtype: int64

In [83]:
df = pd.read_csv("Z:\csv\es.1.csv", nrows = 1e6) #loads 1M data

In [84]:
dfduplicate = df.append(df) #duplicate the data on purpose

In [85]:
dfduplicate = dfduplicate.sample(frac=1)

In [86]:
dfclean = dfduplicate.drop_duplicates() #delete all duplicates

In [87]:
len(dfclean) == len(df) #all duplicates have been removed - because there were no duplicates in the first df

True

In [88]:
dfclean.drop_duplicates(subset = 'FT') #deletes duplicates for a certain column

     Round             Date                Team 1   FT                Team 2
367     37  Sun May 16 2021         Real Sociedad  NaN    Real Valladolid CF
69       8  Sat Oct 31 2020  Athletic Club Bilbao  2-1            Sevilla FC
62       7  Sun Oct 25 2020    Real Valladolid CF  0-2      Deportivo Alavés
47       6  Sat Oct 17 2020            Granada CF  1-0            Sevilla FC
75       8   Sun Nov 1 2020           Valencia CF  2-2             Getafe CF
1        1  Sat Sep 12 2020            Granada CF  2-0  Athletic Club Bilbao
65       7  Sun Oct 25 2020         Real Sociedad  4-1             SD Huesca
84       9   Sun Nov 8 2020            Levante UD  1-1      Deportivo Alavés
31       4  Wed Sep 30 2020         Villarreal CF  3-1      Deportivo Alavés
8        1  Sun Sep 13 2020           Valencia CF  4-2            Levante UD
49       6  Sat Oct 17 2020           Real Madrid  0-1              Cádiz CF
37       5   Sat Oct 3 2020    Real Valladolid CF  1-2              SD Eibar
73       8   Sun Nov 1 2020         RC Celta Vigo  1-4         Real Sociedad
82       9   Sun Nov 8 2020             Getafe CF  1-3         Villarreal CF
40       5   Sat Oct 3 2020              Elche CF  0-0             SD Huesca
20       3  Sat Sep 26 2020              Elche CF  0-3         Real Sociedad
81       9   Sat Nov 7 2020       Atlético Madrid  4-0              Cádiz CF
79       9   Sat Nov 7 2020          FC Barcelona  5-2            Real Betis
29       4  Tue Sep 29 2020             Getafe CF  3-0            Real Betis
24       3  Sun Sep 27 2020       Atlético Madrid  6-1            Granada CF
21       3  Sat Sep 26 2020            Real Betis  2-3           Real Madrid

In [89]:
df.dropna() #drops all data with NaN

    Round             Date              Team 1   FT                Team 2
0       1  Sat Sep 12 2020            SD Eibar  0-0         RC Celta Vigo
1       1  Sat Sep 12 2020          Granada CF  2-0  Athletic Club Bilbao
2       1  Sat Sep 12 2020            Cádiz CF  0-2            CA Osasuna
5       1  Sun Sep 13 2020    Deportivo Alavés  0-1            Real Betis
6       1  Sun Sep 13 2020  Real Valladolid CF  1-1         Real Sociedad
..    ...              ...                 ...  ...                   ...
82      9   Sun Nov 8 2020           Getafe CF  1-3         Villarreal CF
83      9   Sun Nov 8 2020       Real Sociedad  2-0            Granada CF
84      9   Sun Nov 8 2020          Levante UD  1-1      Deportivo Alavés
85      9   Sun Nov 8 2020  Real Valladolid CF  2-1  Athletic Club Bilbao
86      9   Sun Nov 8 2020         Valencia CF  4-1           Real Madrid

[83 rows x 5 columns]

In [105]:
df['RefMistakes'] = ' '
df.replace(' ',pd.NA,inplace=True) #replaces ' ' with NaN

In [106]:
df.dropna() #because of the two lines above, the df was full of NaN and now we dropped them all

Empty DataFrame
Columns: [Round, Date, Team 1, FT, Team 2, RefMistakes]
Index: []

In [124]:
df.dropna(thresh=5)

,Round,Date,Team 1,FT,Team 2,RefMistakes
0,1,Sat Sep 12 2020,SD Eibar,0-0,RC Celta Vigo,<NA>
1,1,Sat Sep 12 2020,Granada CF,2-0,Athletic Club Bilbao,<NA>
2,1,Sat Sep 12 2020,Cádiz CF,0-2,CA Osasuna,<NA>
5,1,Sun Sep 13 2020,Deportivo Alavés,0-1,Real Betis,<NA>
6,1,Sun Sep 13 2020,Real Valladolid CF,1-1,Real Sociedad,<NA>
...,...,...,...,...,...,...
82,9,Sun Nov 8 2020,Getafe CF,1-3,Villarreal CF,<NA>
83,9,Sun Nov 8 2020,Real Sociedad,2-0,Granada CF,<NA>
84,9,Sun Nov 8 2020,Levante UD,1-1,Deportivo Alavés,<NA>
85,9,Sun Nov 8 2020,Real Valladolid CF,2-1,Athletic Club Bilbao,<NA>
86,9,Sun Nov 8 2020,Valencia CF,4-1,Real Madrid,<NA>

In [126]:
df.dropna(thresh=len(df.columns)-1)

,Round,Date,Team 1,FT,Team 2,RefMistakes
0,1,Sat Sep 12 2020,SD Eibar,0-0,RC Celta Vigo,<NA>
1,1,Sat Sep 12 2020,Granada CF,2-0,Athletic Club Bilbao,<NA>
2,1,Sat Sep 12 2020,Cádiz CF,0-2,CA Osasuna,<NA>
5,1,Sun Sep 13 2020,Deportivo Alavés,0-1,Real Betis,<NA>
6,1,Sun Sep 13 2020,Real Valladolid CF,1-1,Real Sociedad,<NA>
...,...,...,...,...,...,...
82,9,Sun Nov 8 2020,Getafe CF,1-3,Villarreal CF,<NA>
83,9,Sun Nov 8 2020,Real Sociedad,2-0,Granada CF,<NA>
84,9,Sun Nov 8 2020,Levante UD,1-1,Deportivo Alavés,<NA>
85,9,Sun Nov 8 2020,Real Valladolid CF,2-1,Athletic Club Bilbao,<NA>
86,9,Sun Nov 8 2020,Valencia CF,4-1,Real Madrid,<NA>

In [127]:
df.dropna(subset = ['RefMistakes','FT']) #drop NaN data by columns

Empty DataFrame
Columns: [Round, Date, Team 1, FT, Team 2, RefMistakes]
Index: []

In [128]:
df.dropna(subset = ['FT'])

,Round,Date,Team 1,FT,Team 2,RefMistakes
0,1,Sat Sep 12 2020,SD Eibar,0-0,RC Celta Vigo,<NA>
1,1,Sat Sep 12 2020,Granada CF,2-0,Athletic Club Bilbao,<NA>
2,1,Sat Sep 12 2020,Cádiz CF,0-2,CA Osasuna,<NA>
5,1,Sun Sep 13 2020,Deportivo Alavés,0-1,Real Betis,<NA>
6,1,Sun Sep 13 2020,Real Valladolid CF,1-1,Real Sociedad,<NA>
...,...,...,...,...,...,...
82,9,Sun Nov 8 2020,Getafe CF,1-3,Villarreal CF,<NA>
83,9,Sun Nov 8 2020,Real Sociedad,2-0,Granada CF,<NA>
84,9,Sun Nov 8 2020,Levante UD,1-1,Deportivo Alavés,<NA>
85,9,Sun Nov 8 2020,Real Valladolid CF,2-1,Athletic Club Bilbao,<NA>
86,9,Sun Nov 8 2020,Valencia CF,4-1,Real Madrid,<NA>