In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv("Z:/csv/casos_diagnostico_ccaa.csv")

In [3]:
np.random.seed(0)
df = df[df['ccaa_iso'].isin(['AN','CT','MD'])]
df = df.sample(frac=1)
df = df[0:10000]

In [4]:
df['casos_altos'] = df['num_casos'] > 50
observados = pd.crosstab(index=df['casos_altos'],columns=df['ccaa_iso'],margins=True) #contingency table

In [5]:
observados

ccaa_iso      AN   CT   MD   All
casos_altos
False        148   62   67   277
True         231  317  312   860
All          379  379  379  1137

In [6]:
from scipy.stats import chi2_contingency

In [7]:
test = chi2_contingency(observados)

In [8]:
test

(66.7346738309126,
 1.907124347306766e-12,
 6,
 array([[  92.33333333,   92.33333333,   92.33333333,  277.        ],
        [ 286.66666667,  286.66666667,  286.66666667,  860.        ],
        [ 379.        ,  379.        ,  379.        , 1137.        ]]))

In [9]:
esperados = pd.DataFrame(test[3]) #convert the array into a df

In [10]:
esperados

            0           1           2       3
0   92.333333   92.333333   92.333333   277.0
1  286.666667  286.666667  286.666667   860.0
2  379.000000  379.000000  379.000000  1137.0

In [11]:
esperados_rel = round(esperados.apply(lambda r: r/len(df)*100,axis=1),2)
observados_rel = round(observados.apply(lambda r: r/len(df)*100,axis=1),2) #work with relative values instead of absolute

In [12]:
esperados_rel

       0      1      2       3
0   8.12   8.12   8.12   24.36
1  25.21  25.21  25.21   75.64
2  33.33  33.33  33.33  100.00

In [13]:
observados_rel

ccaa_iso        AN     CT     MD     All
casos_altos
False        13.02   5.45   5.89   24.36
True         20.32  27.88  27.44   75.64
All          33.33  33.33  33.33  100.00

In [14]:
test[1]

1.907124347306766e-12

In [ ]:
#p-value: if <0.05, significant differences: there exists relation between the variables. if >0.05, no significant differences: there is no relation between the variables.