In [1]:
import pandas as pd
import numpy as np
from joblib import Parallel, delayed

df = pd.read_csv('Z:/csv/casos_diagnostico_ccaa.csv', nrows = 100000)

In [2]:
df_sub = df[['num_casos','num_casos_prueba_pcr','num_casos_prueba_test_ac','num_casos_prueba_ag','num_casos_prueba_elisa','num_casos_prueba_desconocida']]
df_sub.head(10)

,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_ag,num_casos_prueba_elisa,num_casos_prueba_desconocida
0,4,2,0,2,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,1,0,0,1,0,0
5,1,1,0,0,0,0
6,0,0,0,0,0,0
7,0,0,0,0,0,0
8,23,23,0,0,0,0
9,2,1,0,1,0,0

In [3]:
def pruebas_maximo(fila):
	if not np.isnan(fila).any():
		names = ['num_casos_prueba_pcr','num_casos_prueba_test_ac','num_casos_prueba_ag','num_casos_prueba_elisa','num_casos_prueba_desconocida']
		return names[fila.index(max(fila))]
	else:
		return 'None'

In [4]:
results = []
for fila in df_sub.values.tolist():
	results.append(pruebas_maximo(fila))
matching_pcr = [s for s in results if "pcr" in s]
matching_ac = [s for s in results if "test_ac" in s]
matching_ag = [s for s in results if "prueba_ag" in s]
matching_elisa = [s for s in results if "elisa" in s]
matching_desc = [s for s in results if "desconocida" in s]

In [5]:
len(matching_pcr)

7201

In [6]:
len(matching_ac)

0

In [7]:
len(matching_ag)

0

In [33]:
len(matching_elisa)

0

In [8]:
len(matching_desc)

0

In [ ]:
result = Parallel(n_jobs=2,backend='multiprocessing')(
	map(delayed(pruebas_maximo), df_sub.values.tolist()))